* {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.control {
    display: inline-block;
    padding: 12px;
}

.control input {
    border: none;
    border-bottom: 1px solid #888;
    width: 50px;
    margin-right: 5px;
    background-color: transparent;
    padding: 5px;
    outline: none;
    text-align: center;
}

.control select {
    padding: 6px;
    outline: none;
}

.control .btn-start {
    padding: 5px 15px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.countdown-timer .timer {
    padding: 12px;
    font-size: 40px;
    font-weight: 600;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .grid-cells {
    background-color: transparent;
    width: 550px;
}

.main .grid-cells .cell {
    background-color: #d5d5d5;
    border-radius: 8px;
    display: inline-block;
}

.main .grid-cells .cell:hover {
    background: rgba(0, 0, 0, .13);
}

.result {
    display: flex;
    justify-content: center;
}

.result .notification {
    color: red;
    font-size: 24px;
    font-weight: 600;
}

.disable {
    pointer-events: none;
    background-color: #b2b2b2 !important;
}

.disable-grid {
    pointer-events: none;
}